.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
}

.tag {
    position: relative;
    padding: 5px;
    background-color: #2f88ee;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.tag .close-icon {
    display: none;
    margin-left: 5px;
}

.tag:hover .close-icon {
    display: inline;
}

.custom-modal {
    max-width: 2000px;
    width: 100%;
}

.edit-button {
    width: 92% !important;
    margin-left: 1rem;
}