.line-container {
    border-right: 2px solid black;
    padding-right: 20px;
    margin-right: 20px;
}

.iframe-border {
    border: 3px solid black;
    border-radius: 15px;
}

.option-buttons {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.edit-button {
    width: 92% !important;
    margin-left: 1rem;
}